apt-listchanges==4.8
Brlapi==0.8.6
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.2
cupshelpers==1.0
dbus-python==1.4.0
feedparser==6.0.11
gpg==1.24.2
gyp-next==0.16.2
idna==3.10
louis==3.33.0
musicbrainzngs==0.7.1
mutagen==1.47.0
packaging==25.0
psutil==7.0.0
pyasyncore==1.0.2
pycairo==1.27.0
pycups==2.0.4
PyGObject==3.50.0
pyinotify==0.9.6
pysmbc==1.0.25.1
python-apt==3.0.0
python-debian==1.0.1
python-debianbts==4.1.1
pyxdg==0.28
quodlibet==4.6.0
reportbug==13.2.0
requests==2.32.3
setproctitle==1.3.6
sgmllib3k==1.0.0
urllib3==2.3.0
wheel==0.46.1
xdg==5
