
*/.vscode
*/API/.vs
*/API/bin
*/API/obj
*/API/appsettings.json
*/SPA/.parcel-cache
*/SPA/dist
*/SPA/node_modules
*/SPA/settings.js
*/SPA/package-lock.json
*/OPA/opa_windows_amd64.exe
*/LogService/node_modules
*/LogService/package-lock.json